/* style.css */

h1.header{
    background-color: #8A2BE2;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin: 0;
margin-bottom: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   

}


main {
    padding: 1rem;
}

section#contests {
    margin-top: 1rem;
    padding: 1rem;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul#contest-list {
    list-style: none;
    padding: 0;
}

ul#contest-list li {
    margin: 0.5rem 0;
    padding: 0.5rem;
    background: #e8eaf6;
    border-radius: 3px;
}
.card .image-box {
    height: auto; /* or a reasonable percentage based on container */
}

.card .image-box img {
    width: 20%;
    height: auto;
   
}

.card.image-box .img{
    height: 20%;
}
.card .image-box2 img {
    width: 20%;
    height: auto;
    background: linear-gradient(45deg, #000000, #434343);;
   
}
a{
    color: black;
    text-decoration: none;
}
a:visited{
    color: black;
}
.image-box h2{
    margin:1.7rem;
    margin-top: 0.75rem;
}

.slide-container{
background-color:black;
color: #333;
min-height: 100vh;
display: flex;
align-items: center;
background: linear-gradient(45deg, #000000, #434343); /* Black gradient */
border-radius: 15px; /* Rounded corners */
 /* Inner spacing */
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Shadow for depth */
color: white; /* Text color */
font-size: 1rem; /* Font size */
text-align: center; /* Center the text */
 /* Set the width of the box */
/* margin: 1rem auto; Center the box horizontally */
width: 60%;

}
.container{
    background: #222831;
    margin: top 0; ;
}